<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- end. favicon -->

  <title>貓食品分配工具</title>
  <link href="style/all.min.css" rel="stylesheet">
  <link href="style/custom.css" rel="stylesheet">
</head>

<body>

  <div class="fixed-btn">
    <a class="btn" href="#section_1">貓咪狀態</a>
    <a class="btn" href="#section_2">罐頭營養</a>
    <a class="btn" href="#section_3">飼料營養</a>
    <a class="btn" href="#section_4">計算結果</a>
  </div>

  <div class="row justify-content-center">
    <div class="Block--12 Block--md-7">

      <header class="header text-center">
        <h1 class="title">貓食品分配工具</h1>
        <h2 class="subTitle">
          對貓咪食品的營養成分有疑慮？<br>
          對全濕食的費用苦惱？<br>
          無論全濕食或半濕食<br>
          貓咪的每日所需熱量和營養在這裡！</h2>
      </header>

      <section id="app" class="form-section">

        <div id="section_1"></div>

        <section class="step_1_section">

          <div class="step-text text-center mb-3">
            <p>
              <span class="font-size-25 letter-spacing-3" style="font-weight: 600;">STEP. 1</span>
              <br>
              請輸入貓咪的基本狀態
            </p>
          </div>

          <p class="font-size-17 mb-1" style="font-weight: 600;">
            請輸入貓咪的體重：
          </p>

          <div class="row mb-2">
            <div class="Block--12">
              <div class="input-box">
                <input type="text" placeholder="0" v-model="cat_Info.weight">
                <span class="text-unit">kg</span>
              </div>
              <span class="font-size-15 d-block" style="font-weight: 400; margin-top: 5px; color: #ff5700;">需減重貓 or
                過瘦貓，請輸入理想體重。</span>
            </div>
          </div>

          <p class="font-size-17 mb-1" style="font-weight: 600;">請勾選貓咪的目前狀態(擇一)：</p>

          <div class="row mb-1">
            <div class="Block--12">
              <p class="mb-0 font-size-15" style="font-weight: 600;">– 幼貓</p>
              <div class="radio-box" v-for="(kitten, key) in cat_kitten_Status" :key="'kitten' + key">
                <input type="radio" :id="'kitten' + key" name="cat_Status" :value="kitten" v-model="cat_Info.status">
                <label :for="'kitten' + key">{{ kitten }}</label>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="Block--12">
              <p class="mb-0 font-size-15" style="font-weight: 600;">– 成貓</p>
              <div class="radio-box" v-for="(normal, key) in cat_normal_Status" :key="'normal' + key">
                <input type="radio" :id="'normal' + key" name="cat_Status" :value="normal" v-model="cat_Info.status">
                <label :for="'normal' + key">{{ normal }}</label>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="Block--12">
              <p class="mb-0 font-size-15" style="font-weight: 600;">– 懷孕貓</p>
              <div class="radio-box" v-for="(mother, key) in cat_mother_Status" :key="'mother' + key">
                <input type="radio" :id="'mother' + key" name="cat_Status" :value="mother" v-model="cat_Info.status">
                <label :for="'mother' + key">{{ mother }}</label>
              </div>
            </div>
          </div>

        </section>

        <div id="section_2"></div>

        <section class="step_2_section">

          <div class="step-text text-center mb-3">
            <p>
              <span class="font-size-25 letter-spacing-3" style="font-weight: 600;">STEP. 2</span><br>
              挑選一種罐頭<br>
              輸入營養成分和重量
            </p>
          </div>

          <form action="">
            <div class="row form-row">
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">罐頭重量</label>
                  <input type="number" v-model="can_Nutrition.canWeight" placeholder="0">
                  <span class="text-unit">g</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">蛋白質</label>
                  <input type="number" v-model="can_Nutrition.Protein_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">脂肪</label>
                  <input type="number" v-model="can_Nutrition.Fat_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">纖維</label>
                  <input type="number" v-model="can_Nutrition.Fiber_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">灰份</label>
                  <input type="number" v-model="can_Nutrition.Ash_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">水分</label>
                  <input type="number" v-model="can_Nutrition.Water_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
            </div>
          </form>

        </section>

        <div id="section_3"></div>

        <section class="step_3_section">
          <div class="step-text text-center mb-3">
            <p>
              <span class="font-size-25 letter-spacing-3" style="font-weight: 600;">STEP. 3</span><br>
              挑選一種飼料<br>
              輸入營養成分和熱量
            </p>
          </div>

          <form action="">
            <div class="row form-row">
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">飼料1公斤的熱量</label>
                  <input type="number" v-model="feed_Nutrition.feed_1KG_Kcal" placeholder="0">
                  <span class="text-unit">kcal</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">蛋白質</label>
                  <input type="number" v-model="feed_Nutrition.Protein_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">脂肪</label>
                  <input type="number" v-model="feed_Nutrition.Fat_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">纖維</label>
                  <input type="number" v-model="feed_Nutrition.Fiber_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">灰份</label>
                  <input type="number" v-model="feed_Nutrition.Ash_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
              <div class="Block--6">
                <div class="input-box group mb-1">
                  <label for="">水分</label>
                  <input type="number" v-model="feed_Nutrition.Water_p" placeholder="0">
                  <span class="text-unit">%</span>
                </div>
              </div>
            </div>
          </form>
        </section>

        <div id="section_4"></div>

        <section class="step_4_section">

          <div class="row mb-1">
            <div class="Block--12">
              <button class="btn-base" type="button" @click.prevent="mathAll">
                開始計算
                <i data-feather="check-circle" class="position-relative top-3 left-5"></i>
              </button>
            </div>
          </div>

          <div v-if="isOpenAllMath">

            <div class="step_1_block">

              <div class="row justify-content-center">
                <div class="Block--12">
                  <button class="btn-base-outline mb-1 btn-toggle text-left" type="button"
                    @click.prevent="openCatInfoAndDmb">
                    貓咪每日所需 & 罐頭飼料乾物比
                    <i class="icon fas fa-plus" v-if="!isOpenCatInfoAndDmb"></i>
                    <i class="icon fas fa-minus" v-else></i>
                  </button>
                </div>
              </div>

              <div v-if="isOpenCatInfoAndDmb">

                <div class="pt-1 pb-1"></div>

                <p class="font-size-17 mt-0 mb-1 text-center" style="font-weight: 600;">
                  貓咪每日所需營養
                </p>

                <div class="row form-row">
                  <div class="Block--6">
                    <div class="input-box group mb-1">
                      <label for="">每日熱量</label>
                      <input class="input-readonly" type="text" :value="cat_Info.daliyKcal" readonly>
                      <span class="text-unit">kcal</span>
                    </div>
                  </div>
                  <div class="Block--6">
                    <div class="input-box group mb-1">
                      <label for="">每日蛋白質</label>
                      <input class="input-readonly" type="text"
                        :value="`${cat_Info.daliyProtein.min} ~ ${cat_Info.daliyProtein.max}`" readonly>
                      <span class="text-unit">g</span>
                    </div>
                  </div>
                  <div class="Block--6">
                    <div class="input-box group mb-1">
                      <label for="">每日脂肪</label>
                      <input class="input-readonly" type="text"
                        :value="`${cat_Info.daliyFat.min} ~ ${cat_Info.daliyFat.max}`" readonly>
                      <span class="text-unit">g</span>
                    </div>
                  </div>
                  <div class="Block--6">
                    <div class="input-box group mb-1">
                      <label for="">每日飲水量</label>
                      <input class="input-readonly" type="text"
                        :value="`${cat_Info.daliyWater.min} ~ ${cat_Info.daliyWater.max}`" readonly>
                      <span class="text-unit">ml</span>
                    </div>
                  </div>
                </div>

                <div class="pt-1 pb-1"></div>

                <p class="font-size-17 mt-0 mb-1 text-center" style="font-weight: 600;">
                  罐頭的乾物比
                </p>

                <div class="result-block mb-3">
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>蛋白質</th>
                        <th>脂肪</th>
                        <th>碳水化合物</th>
                        <th>纖維</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="bg-light">
                        <td>比例建議</td>
                        <td>45%以上</td>
                        <td>25~45%</td>
                        <td>10%以下</td>
                        <td>1~5%</td>
                      </tr>
                      <tr>
                        <td>罐頭</td>
                        <td :class="can_dmd.protein_colorClass">{{ can_dmd.dmb_protein }}%</td>
                        <td :class="can_dmd.fat_colorClass">{{ can_dmd.dmb_fat }}%</td>
                        <td :class="can_dmd.carbohydrate_colorClass">{{ can_dmd.dmb_carbohydrate }}%</td>
                        <td :class="can_dmd.fiber_colorClass">{{ can_dmd.dmb_fiber }}%</td>
                      </tr>
                      <tr class="result">
                        <td>計算結論</td>
                        <td :class="can_dmd.protein_colorClass">{{ can_dmd.dmb_protein_result }}</td>
                        <td :class="can_dmd.fat_colorClass">{{ can_dmd.dmb_fat_result }}</td>
                        <td :class="can_dmd.carbohydrate_colorClass">{{ can_dmd.dmb_carbohydrate_result }}</td>
                        <td :class="can_dmd.fiber_colorClass">{{ can_dmd.dmb_fiber_result }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- 先不顯示
              <p class="font-size-17 mb-1 text-center" style="font-weight: 600;">
                一罐中含有的熱量和營養
              </p>
  
              <div class="row form-row">
                <div class="Block--6">
                  <div class="input-box group mb-1">
                    <label for="">熱量(kcal)</label>
                    <input type="text" placeholder="0" class="input-readonly" v-model="can_Info.Kcal" readonly>
                  </div>
                </div>
                <div class="Block--6">
                  <div class="input-box group mb-1">
                    <label for="">蛋白質(g)</label>
                    <input type="number" class="input-readonly" v-model="can_Info.Protein_g" placeholder="0">
                  </div>
                </div>
                <div class="Block--6">
                  <div class="input-box group mb-1">
                    <label for="">脂肪(g)</label>
                    <input type="number" class="input-readonly" v-model="can_Info.Fat_g" placeholder="0">
                  </div>
                </div>
                <div class="Block--6">
                  <div class="input-box group mb-1">
                    <label for="">水分(ml)</label>
                    <input type="number" class="input-readonly" v-model="can_Info.Water_g" placeholder="0">
                  </div>
                </div>
              </div> -->

                <p class="font-size-17 mt-0 mb-1 text-center" style="font-weight: 600;">
                  飼料的乾物比
                </p>

                <div class="result-block">
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>蛋白質</th>
                        <th>脂肪</th>
                        <th>碳水化合物</th>
                        <th>纖維</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="bg-light">
                        <td>比例建議</td>
                        <td>45%以上</td>
                        <td>25~45%</td>
                        <td>25%以下</td>
                        <td>1~5%</td>
                      </tr>
                      <tr>
                        <td>飼料</td>
                        <td :class="feed_dmd.protein_colorClass">{{ feed_dmd.dmb_protein }}%</td>
                        <td :class="feed_dmd.fat_colorClass">{{ feed_dmd.dmb_fat }}%</td>
                        <td :class="feed_dmd.carbohydrate_colorClass">{{ feed_dmd.dmb_carbohydrate }}%</td>
                        <td :class="feed_dmd.fiber_colorClass">{{ feed_dmd.dmb_fiber }}%</td>
                      </tr>
                      <tr class="result">
                        <td>計算結論</td>
                        <td :class="feed_dmd.protein_colorClass">{{ feed_dmd.dmb_protein_result }}</td>
                        <td :class="feed_dmd.fat_colorClass">{{ feed_dmd.dmb_fat_result }}</td>
                        <td :class="feed_dmd.carbohydrate_colorClass">{{ feed_dmd.dmb_carbohydrate_result }}</td>
                        <td :class="feed_dmd.fiber_colorClass">{{ feed_dmd.dmb_fiber_result }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="pt-1 pb-2"></div>

              </div>

            </div>

            <div class="row justify-content-center">
              <div class="Block--12">
                <button class="btn-base-outline mb-1 btn-toggle text-left" type="button" @click.prevent="openAllWetFood_result">
                  全濕食配方
                  <i class="icon fas fa-plus" v-if="!isOpenAllWetFood"></i>
                  <i class="icon fas fa-minus" v-else></i>
                </button>
              </div>
            </div>

            <div v-show="isOpenAllWetFood">

              <p class="text-center">
                每日需吃<span class="px-1 font-size-18"
                  style="font-weight: 600;border-bottom: 2px solid #ff5700; color:#ff5700; margin: 0 7px;">{{
                  allWetFood_Info.items }}</span>顆罐頭，<br>才能達到貓咪每日所需的熱量。
              </p>
              <div class="result-block mb-2">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th>蛋白質</th>
                      <th>脂肪</th>
                      <th>水分</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td>每日建議</td>
                      <td>{{ `${cat_Info.daliyProtein.min} ~ ${cat_Info.daliyProtein.max}g` }}</td>
                      <td>{{ `${cat_Info.daliyFat.min} ~ ${cat_Info.daliyFat.max}g` }}</td>
                      <td>{{ `${cat_Info.daliyWater.min} ~ ${cat_Info.daliyWater.max}ml` }}</td>
                    </tr>
                    <tr>
                      <td>{{ allWetFood_Info.items }}顆罐頭</td>
                      <td :class="allWetFood_Info.Protein.colorClass">{{ allWetFood_Info.Protein.number }}g</td>
                      <td :class="allWetFood_Info.Fat.colorClass">{{ allWetFood_Info.Fat.number }}g</td>
                      <td :class="allWetFood_Info.Water.colorClass">{{ allWetFood_Info.Water.number }}ml</td>
                    </tr>
                    <tr class="result">
                      <td>計算結論</td>
                      <td :class="allWetFood_Info.Protein.colorClass">{{ allWetFood_Info.Protein.result }}</td>
                      <td :class="allWetFood_Info.Fat.colorClass">{{ allWetFood_Info.Fat.result }}</td>
                      <td :class="allWetFood_Info.Water.colorClass">{{ allWetFood_Info.Water.result }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="warning-text blue" v-if="allWetFood_Info.Protein.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的蛋白質攝取不足，不建議作為主食！
              </div>
              <div class="warning-text blue" v-if="allWetFood_Info.Fat.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的脂肪攝取不足，不建議作為主食！
              </div>
              <div class="warning-text blue" v-if="allWetFood_Info.Water.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的水分攝取不足，需另外補充！
              </div>
              <div class="warning-text red" v-if="allWetFood_Info.Protein.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的蛋白質攝取過高，不建議作為主食！
              </div>
              <div class="warning-text red" v-if="allWetFood_Info.Fat.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的脂肪攝取過高，不建議作為主食！
              </div>
              <div class="warning-text red" v-if="allWetFood_Info.Water.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的水分攝取過高，請注意！
              </div>

              <div class="pt-1 pb-1"></div>

            </div>

            <div class="row justify-content-center">
              <div class="Block--12">
                <button class="btn-base-outline mb-1 btn-toggle text-left" type="button"
                  @click.prevent="openHalfWetFood_result">
                  半濕食配方
                  <i class="icon fas fa-plus" v-if="!isOpenHalfWetFood"></i>
                  <i class="icon fas fa-minus" v-else></i>
                </button>
              </div>
            </div>

            <div v-show="isOpenHalfWetFood">

              <div class="pt-1 pb-1"></div>

              <p class="font-size-17 mt-0 mb-1" style="font-weight: 600;">
                勾選每日分配(擇一)：
              </p>

              <div class="row mb-1">
                <div class="Block--12">
                  <div class="radio-box" v-for="(canDaliyNumber, key) in halfWetFood_Info.canDaliy_choose"
                    :key="'canDaliyNumber' + key">
                    <input type="radio" :id="'canDaliyNumber' + key" name="halfWetFood_canDaliy" :value="canDaliyNumber"
                      v-model="halfWetFood_Info.canDaliyNumber" @click="math_feed_g(canDaliyNumber)">
                    <label :for="'canDaliyNumber' + key">罐頭 {{ canDaliyNumber }} 個 + 飼料</label>
                  </div>
                </div>
              </div>

              <div class="pt-1 pb-1"></div>

              <p class="text-center">
                每日需吃
                <span class="px-1 font-size-18"
                  style="font-weight: 600;border-bottom: 2px solid #ff5700; color:#ff5700; margin: 0 7px;">{{
                  halfWetFood_Info.canDaliyNumber }}</span>個罐頭 + <span class="px-1 font-size-18"
                  style="font-weight: 600;border-bottom: 2px solid #ff5700; color:#ff5700; margin: 0 7px;">{{
                  halfWetFood_Info.feed_g
                  }}</span> g 飼料<br>才能達到貓咪每日所需的熱量。
              </p>
              <div class="result-block mb-2">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th>蛋白質</th>
                      <th>脂肪</th>
                      <th>水分</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td>每日建議</td>
                      <td>{{ `${cat_Info.daliyProtein.min} ~ ${cat_Info.daliyProtein.max}g` }}</td>
                      <td>{{ `${cat_Info.daliyFat.min} ~ ${cat_Info.daliyFat.max}g` }}</td>
                      <td>{{ `${cat_Info.daliyWater.min} ~ ${cat_Info.daliyWater.max}ml` }}</td>
                    </tr>
                    <tr>
                      <td>罐頭 + 飼料</td>
                      <td :class="halfWetFood_Info.Protein.colorClass">{{ halfWetFood_Info.Protein.number }}g</td>
                      <td :class="halfWetFood_Info.Fat.colorClass">{{ halfWetFood_Info.Fat.number }}g</td>
                      <td :class="halfWetFood_Info.Water.colorClass">{{ halfWetFood_Info.Water.number }}ml</td>
                    </tr>
                    <tr class="result">
                      <td>計算結論</td>
                      <td :class="halfWetFood_Info.Protein.colorClass">{{ halfWetFood_Info.Protein.result }}</td>
                      <td :class="halfWetFood_Info.Fat.colorClass">{{ halfWetFood_Info.Fat.result }}</td>
                      <td :class="halfWetFood_Info.Water.colorClass">{{ halfWetFood_Info.Water.result }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="warning-text blue" v-if="halfWetFood_Info.Protein.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的蛋白質攝取不足，不建議作為主食！
              </div>
              <div class="warning-text blue" v-if="halfWetFood_Info.Fat.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的脂肪攝取不足，不建議作為主食！
              </div>
              <div class="warning-text blue" v-if="halfWetFood_Info.Water.isLess">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的水分攝取不足，需另外補充！
              </div>
              <div class="warning-text red" v-if="halfWetFood_Info.Protein.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的蛋白質攝取過高，不建議作為主食！
              </div>
              <div class="warning-text red" v-if="halfWetFood_Info.Fat.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的脂肪攝取過高，不建議作為主食！
              </div>
              <div class="warning-text red" v-if="halfWetFood_Info.Water.isOver">
                <i class="icon fas fa-exclamation-triangle"></i>
                每日的水分攝取過高，請注意！
              </div>

              <div class="pt-1 pb-1"></div>
            </div>

            <div class="pt-1"></div>

          </div>

          <div class="row justify-content-center">
            <div class="Block--12">
              <button class="btn-no" type="button" @click="reset">
                重新計算
                <i data-feather="refresh-ccw" class="position-relative top-3 left-5"></i>
              </button>
            </div>
          </div>

        </section>


      </section>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>